{% extends "base.html" %}
{% block title %}Установить дедлайн{% endblock %}
{% block content %}
  <h1>Установить дедлайн для комнаты: {{ room.name }}</h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    <p>
      {{ form.description.label }}<br>
      {{ form.description(size=64) }}
    </p>
    <p>
      {{ form.due_date.label }}<br>
      {{ form.due_date() }}
    </p>
    <p>
      {{ form.due_time.label }}<br>
      {{ form.due_time() }}
    </p>
    <p>
      {{ form.apply_to_all() }} {{ form.apply_to_all.label }}
    </p>
    <p>
      {{ form.assigned_to.label }}<br>
      {{ form.assigned_to(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
  <p>Если время не указано, по умолчанию будет установлено 00:00.</p>
  <p>Если хотите назначить дедлайн для всей команды, отметьте "Назначить для всей команды" и поле "Пользователь" можно оставить пустым.</p>
{% endblock %}
